<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-title>
      Biblioteca
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <p>
    <ion-label for="txEmail">Username</ion-label>
    <ion-input type="email" name="txEmail"
      [(ngModel)]="email" placeholder="Digite o seu usuário"> 
    </ion-input>
  </p>

  <p>
    <ion-label for="txSenha">Senha</ion-label>
    <ion-input type="password" name="txSenha"
      [(ngModel)]="senha" placeholder="Digite a sua senha"> 
    </ion-input>
  </p>

  <p>
      <ion-button (click)="login()">Entrar</ion-button>
  </p>

  <p>
    {{mensagem}}
  </p>
 
</ion-content>
